@charset "UTF-8";

@font-face{

    font-family:LucidaSans;

    src: url(../../../fonts/lucidasansuni.ttf);

}

body {
margin: 0;
padding: 0;
font-family: 'LucidaSans',sans-serif;

}

#head_all {
    height: 50px;
    width: 100%;
    background: #2C3033;

}

#link_line{
    height: 20px;
    width: 100%;
    background:#dedede ;
}

#link_line ul {
    padding: 0;
    margin: 0;
}

#link_line ul li {
    float: left;
    font-size: 12px;
    list-style: none;
    margin-left: 20px;
}

#link_line ul li a {
    color: #333;
    text-decoration: none;
}

#link_line ul li a:hover{
    text-decoration: underline;
    color: #077fcc;
}

#opt_line {
   float: right;
    margin-right: 10px;
    margin-top: 11px;
}
#opt_line a{
    margin-left:5px;
    padding:16px 5px;
    text-shadow: #000 1px 1px 1px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;

}

#opt_line a:hover{
    background: #15B474;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#reg_but{
    margin-top: 10px;
    float: right;
    margin-right: 5px;
    text-shadow: #000 1px 1px 1px;
    font-weight: bold;

}


.inp_stl{
    width: 100px;
    height: 22px;
    border-style: none;
    border: 1px solid #5e676d;
    border-radius: 2px;
    background: #505253;
    color: #dedede;
    padding: 0 5px;
    font-weight: bold;}

.sign_but{
    width: 30px;
    height: 50px;
    border-style: none;
   background: url(../../../images/elements/sign_in.png);
    cursor: pointer;
    float: right;
}

#reg_but a{
    padding: 2px 20px;
    text-decoration: none;
    color: #1BA8ED;
    border-radius: 2px;
    border: 1px solid #1BA8ED;
    font-size: 12px;
}

#top_left{
    width: 200px;
    height: 50px;
    float: left;
    background: #24262a;
}
#sidebar{
    float: left;
    width: 200px;
    min-height: 1000px;
    background: #2C3033;
}